@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(0, 0, 0);
}
.navbar {
  font-size: 22px;
}

.navbar-text-div {
  margin-top: 10px;
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: space-between;
  padding: 10px 15px;
  font-family: "Inter";
  border-radius: 8px;
}

.nav-links-home{
  font-family: "Inter";
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
}



.navbar-text-right{
  font-family: "Inter";
  color: white;
  text-decoration: none;
}


.navbarAll {
  display: flex;
}



/* code for top main navbar is down below */



.top-main-nav {
  display: flex;
  width: 100%;
  gap: 10px;
}


.top-div-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow: hidden !important;
}

.top-div-nav figcaption {
  margin-top: 10px;
}


.top-img-nav {
  max-width: 481px;
  height: 231px;
  object-fit: cover;
  padding-top: 20px;
}
.text-in-img {
  color: white;
  font-family: Inter;
}


.top-name-nav {
  color: white;
  font-family: "Inter";
  text-align: center;
  padding: 4px 7px;
  margin: 0;
  margin-top: 5px;
}